#root {
  padding: 1rem;
  /* text-align: center; */
}

.avatar {
  max-width: 50px;
}

header {
  display: flex;
  justify-content: space-between;
}
h1 {
  font-size: 2em;
  line-height: 1.1;
}

.article-img {
  max-width: 100%;
}

li {
  list-style-type: none;
}
.article-list {
  display: flex;
  flex-wrap: wrap;
}
.article {
  border: 1px solid rgb(115, 0, 0);
  padding: 10px;
  margin: 10px;
}
@media screen and (max-width: 300px) {
  .article {
    width: 100%;
  }
}
